<div class="columns has-text-centered" id="blog-card">
    <a href="{{post.url | absolute_url}}" class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url({{post.post-image}});"></div>
    </a>
    <div class="column has-text-left-desktop has-text-left-tablet">
        <h1 class="title is-size-4-touch color_biscay">{{post.title}}</h1>
        <div class="content color_biscay">
            {% unless page.description.size == 0 %}
            {{post.description | truncate: 300 | strip | strip_html | strip_newlines | escape }}
            {% endunless %}
            <hr class="has-background-grey">
            <span class="color_biscay">Publié le <span class="has-text-weight-semibold">{{ post.date | localize: "%d %B %Y" }}</span></span>
            |
            <i class="fa fa-clock-o"></i>
            <span class="has-text-weight-semibold">
                {% assign words = post.content | number_of_words %}{%- unless content.size == 0 -%}
                Lecture
                {{ words | divided_by:180 }} min{% endunless %}
            </span>
            <div style="margin-top: 10px;">
                {% include categories.html %}
            </div>
        </div>
    </div>
</div>