{% if post %}
  {% assign categories = post.categories  %}
{% elsif page %}
  {% assign categories = page.categories  %}
{% else %}
  {% assign categories = "" | split: ","  %}
{% endif %}

{% assign linked_categories = "Personnel,Fiche,Réflexion,Recherche,Écriture,Projet" | split: "," %}

{%- unless categories.size == 0 -%}
<p class="subtitle is-uppercase post-categories">
    <a href="{{site.baseurl}}/archives"><i class="fa fa-tags"></i></a>

    {% for category in categories %}
      {% if linked_categories contains category %}
        <a class="tag is-link" href="{{site.baseurl}}/{{category|slugify: 'latin'}}">{{category}}</a>
      {% else %}
        <span class="tag is-link">{{category}}</span>
      {% endif %}
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
</p>
{%- endunless -%}