{% if post %}
  {% assign categories = post.categories  %}
{% elsif category %}
  {% assign categories = post.categories  %}
{% elsif page %}
  {% assign categories = page.categories  %}
{% else %}
  {% assign categories = "" | split: ","  %}
{% endif %}

{% assign linked_categories = "Personnel,Fiche,Reflexion,Recherche,Écriture" | split: "," %}

{%- unless categories.size == 0 -%}
<p class="subtitle is-uppercase post-categories">
    <a href="{{site.baseurl}}/archives"><i class="fa fa-tags"></i></a>

    {% for category in categories %}
      {% if linked_categories contains category %}
        <a class="tag is-link" href="{{site.baseurl}}/{{category|slugize}}">{{category}}</a>
      {% else %}
        <a class="tag is-link" href="{{site.baseurl}}/archives/#{{category|slugize}}">{{category}}</a>
      {% endif %}
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
</p>
{%- endunless -%}