<nav class="navbar bg_biscay is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">

        <!-- logo or branding image on left side -->
        <div class="navbar-brand">
            <a style="padding:0 0.75rem 0 0;" class="navbar-item color_citron {% if page.layout == 'default' %}is-active{% endif %}"
                href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
              <img alt=""  src="/assets/images/favicon.png"/>
              <strong>{{site.title}}</strong>
            </a>
            <div class="navbar-burger" data-target="navbar-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- children of navbar-menu must be navbar-start and/or navbar-end -->
        <div class="navbar-menu bg_biscay" id="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item color_citron {% if page.category == 'Projet' %}is-active{% endif %}" href="{{site.url}}{{site.baseurl}}/projet/">Projets</a>
                <a class="navbar-item color_citron {% if page.category == 'Fiche' %}is-active{% endif %}" href="{{site.url}}{{site.baseurl}}/fiche/">Fiches</a>
                {% include dropdown.html %}
                <a class="navbar-item color_citron" href="{{site.url}}{{site.baseurl}}/calendrier">Calendrier</a>
                <a class="navbar-item color_citron {% if page.layout == 'archives' %}is-active{% endif %}" href="{{site.url}}{{site.baseurl}}/archives">Archives</a>
                <a class="navbar-item color_citron" href="{{site.url}}{{site.baseurl}}/feed" target="_blank">Flux RSS</a>
            </div>
        </div>
    </div>
</nav>
<!-- Bulma Navbar JS -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        /* Get all "navbar-burger" elements */
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        /* Check if there are any navbar burgers */
        if ($navbarBurgers.length > 0) {
            /* Add a click event on each of them */
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    /* Get the target from the "data-target" attribute */
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    /* Toggle the class on both the "navbar-burger" and the "navbar-menu" */
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
