<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title color_citron is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle color_citron is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr class="bg_citron">
      <a href="{{site.url}}{{site.baseurl}}/#blog"
        class="button color_biscay bg_citron border_biscay hover_bg_biscay hover_color_citron is-rounded is-outlined is-uppercase has-text-weight-normal">Articles</a>
    </div>
  </div>
</section>