---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body class="bg_biscay">
    <section id="hero" class="hero is-fullheight has-text-centered bg_biscay-ter not-found">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 is-uppercase has-text-weight-bold color_citron">
                    {{page.title}}
                </h1>
                <h3 class="is-uppercase has-text-weight-medium is-marginless color_citon">
                    {{content}}
                </h3>
                <hr class="bg_citron">
                <div class="columns is-marginless is-inline-flex-desktop">
                  <a href="{{site.url}}{{site.baseurl}}/"
                     class="button color_biscay bg_citron border_biscay hover_bg_biscay hover_color_citron is-rounded is-outlined is-uppercase has-text-weight-normal">Accueil</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
