---
layout: page
---

{% assign sorted_cats = site.categories | sort_natural %}

<div id="archives">
    {% for category in sorted_cats %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>

        <h3 class="category-head">{{ category_name }}</h3>
        <a id="{{ category_name | slugize }}"></a>

        {% for post in site.categories[category_name] %}
          <article class="archive-item">
              <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | localize: "%d %B %Y" }} - {{post.title}}</a></h4>
          </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>