---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  <style>
      .content, .content ul {
          text-align: left;
      }
  </style>
</head>
<body class="bg_biscay">
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered" id="page-section">
                <div class="section">
                    <h1 class="title is-1 is-uppercase has-text-weight-bold">
                        {{page.title}}
                    </h1>
                    <hr class="bg_biscay">
                    <div class="content is-marginless">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>
