---
layout: microtypo
---

<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body class="bg_biscay">
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body">
      <div class="container">
        <a href="{{page.url | relative_url}}" class="has-text-black" id="title">
          <h1 class="title has-text-centered is-2 color_biscay has-text-weight-semibold ">{{page.title}}</h1>
        </a>
        <hr class="bg_biscay">
        <div class="columns is-variable is-5">
          <div class="column is-6">
            <figure id="post-image" class="image has-shadow" style="background-image: url({{page.post-image}});"></figure>
          </div>
          <div class="information subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile">
            <div>
              <p class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter">Publié le
                <b>{{ page.date | localize: "%d %B %Y" }}</b>
              </p>
              {% include categories.html %}
            </div>
            <div>
              {% unless page.description.size == 0 %}
                <p id="description" class="content has-text-weight-medium is-uppercase">{{page.description | strip | strip_html | strip_newlines }}</p>
              {% endunless %}
              {% assign words = content | number_of_words %}
              {%- unless content.size == 0 -%}
                <p class="subtitle is-uppercase content is-small">
                  <i class="fa fa-clock-o"></i>
                  Lecture
                  <b class="has-text-link">
                    {{ words | divided_by:180 }} min
                  </b>
                </p>
              {%- endunless -%}
            </div>
          </div>
        </div>
        <div id="app" class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
  </section>
  <!--Footer-->
  {% include footer.html %}
  <script src="/assets/js/fslightbox.js"></script>
</body>
</html>
