---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}


    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div id="app">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>


    <!--Footer-->
    {% include footer.html %}
    <!--Scripts-->
    {% include scripts.html %}
</body>

</html>