---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <style>
        .hero-body{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
        .hero-body .container{
            max-width: fit-content;
        }
    </style>
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div id="app">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>
    {% include scripts.html %}
</body>

</html>
